$text-font-stack: "Work Sans", sans-serif !default;
$text-color: rgb(51, 51, 51) !default;
$brand-color: rgb(255, 231, 0) !default;
$title-color: rgb(15, 15, 15) !default;
$short-desc-color: rgb(15, 15, 15) !default;
$nav-item-color: rgb(86, 86, 86) !default;
$dark-grey: rgb(121, 121, 121) !default;
$mid-grey: rgb(162, 162, 162) !default;
$light-grey: rgb(181, 181, 181) !default;
$border-grey: rgb(221, 221, 221) !default;
$max-width: 1280px !default;
$content-width: 630px !default;
$testi-font-stack: "Libre Baskerville", serif;
$post-date-font: 500 16px / 1.4 $text-font-stack;
$main-h1-font: 500 72px / 1.2 $text-font-stack;
$post-titles: 500 20px / 1.2 $text-font-stack;
